<%-include('./header.ejs') %>

<section class="login-wrap mtb-40">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="login-box">
                    <h1 class="text-bg-danger py-2">Forget Passwrod</h1>
                    <% if(message.length > 0){%>
                        <div class="alert alert-success">
                            <%= message %>  
                        </div>
                    <%} %>
                    <form action="/forgetpassword" method="post">
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Enter Your Register Email" required>
                        </div>
                        <div class="text-center">
                            <button  type="submit" class="btn btn-primary">Reset Passwrod</button>
                        </div>
                    </form>
                </div>         
            </div>
        </div>
    </div>
</section>

<%- include('./footer.ejs') %>